@model Desafio.Models.Produtos

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nome)
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            Ativo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" style="margin-left:95px" value="Delete" class="btn btn-danger" />
        </div>
    }

    <div>
        <a href='@Url.Action("Index")'><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
    </div>
</div>
